---
import Layout from "../layouts/Layout.astro";
import Apology from "../components/apology";
import Text from '../components/motionap'
---

<Layout title="I am sorry!">
	<main>
		<Text client:load />
		<Apology />
		<p class="visible sm:hidden text-blue-500 ">NB: the apology was AI generated but this is just prototype, the real one is coming!</p>
	</main>
</Layout>